<div class="container">
  <img src= <%= image_path("finance.png") %> class="rounded mx-auto d-block" alt="Responsive image"  style="max-width: 40%;">
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;  height: 13rem;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Crie sua despesa</h5>
          <p class="card-text">Gerencie suas despesas, incluindo seu nome valor, categoria e descrição</p>
          <a href="expenses/new" class="btn btn-primary mt-auto" >Criar despesas</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;  height: 13rem;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Limites</h5>
          <p class="card-text">Crie limites personalizados por categoria e monitore caso algum gasto esteja excedendo seus limites</p>
          <a href="limits/show" class="btn btn-primary mt-auto">Consultar limites</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; height: 13rem;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Relatórios</h5>
          <p class="card-text">Liste seus gastos por data e faça análises</p>
          <a href="expenses/show" class="btn btn-primary mt-auto" >Análises e relatórios</a>
        </div>
      </div>
    </div>
  </div>
</div>
