<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h1> About </h1>
          <p> Aluno do curso de análise e desenvolvimento de sistemas na UniDombosco </p>
          <p> Projeto Integrador I </p>
        </div>
      </div>
    </div>
  </div>
</div>
