<div class="container">
<div class="col-4 mb-2">
  <%= link_to 'Voltar', :back, class: 'btn btn-outline-dark'  %>
</div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h1> About </h1>
          <p> Aluno do curso de análise e desenvolvimento de sistemas na UniDombosco </p>
          <p> Projeto Integrador I </p>
        </div>
      </div>
    </div>
  </div>
</div>
