<div class="col-4">
  <h3> Categorias </h3>
  <% @categories.each do |category| %>
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title"><%= category.name %></h5>
        <%= link_to 'Editar', edit_category_path(category), class: 'btn btn-outline-dark' %>
        <%= link_to 'Deletar', category, :method => 'delete', class: 'btn btn-outline-danger' %>
      </div>
    </div>
  <% end %>
</div>
