<div class="container-fluid">
  <div class="row">
    <div class="col-4 mb-4">
      <%= link_to 'Voltar à página inicial', root_path, class: 'btn btn-outline-dark'  %>
      <%= link_to 'Crie um nova despesa', new_expense_path, class: 'btn btn-outline-dark'  %>
    </div>
  </div>
</div>
<%= render "categories/show" %>
