<div class="container">
<div class="col-4 mb-2">
  <%= link_to 'Voltar', :back, class: 'btn btn-outline-dark'  %>
</div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h1> Expense Tracker - Features </h1>
          <p> Ferramenta de controle de despesas </p>
          <p> Crie categorias de despesas de acordo com suas necessidades </p>
          <p> Gerencie seus limites </p>
          <p> Gerencie suas despesas </p>
        </div>
      </div>
    </div>
  </div>
</div>
